body {
  background: #bfbfbf;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: block;
  background: #e0e0e0;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

header span {
  display: inline;
  color: #d11a1a;
}

.inline-block-menu ul {
  list-style: none;
  padding: 0;
}

.inline-block-menu li {
  display: inline-block;
  margin-right: 12px;
}

.inline-block-menu a {
  text-decoration: none;
  padding: 7px 12px;
  background: #6fa8dc;
  color: black;
  font-size: 18px;
}

.float-menu ul {
  list-style: none;
  padding: 0;
}

.float-menu li {
  float: left;
  margin-right: 12px;
}

.float-menu a {
  text-decoration: none;
  padding: 7px 12px;
  background: #93c47d;
  color: black;
  font-size: 18px;
}

.clear {
  clear: both;
}
